In [2]:
import pandas as pd
from hash_module import hash_patient_id

In [21]:
file_path = "data/patients_data.csv"

df = pd.read_csv(file_path)
id_lists = df["patients_id"].astype(str).tolist()

In [23]:
project_id_lists = []

for id in id_lists:
    project_id = hash_patient_id(id)
    project_id_lists.append(project_id)

In [25]:
df["project_id"] = project_id_lists

In [26]:
df.head()

   patients_id project_id  start_date  final_date  sex  birth_date  ecog_ps
0      5528135   3wp_4978    20160104    20221124  NaN         NaN      NaN
1      5791278  Qzr_kAl7a    20160107    20221124  NaN         NaN      NaN
2      5637678   2ZR_k5rD    20160106    20221124  NaN         NaN      NaN
3      5496659  ZEK_7VAM9    20160113    20221124  NaN         NaN      NaN
4      5617464   2ZR_qDWZ    20160113    20221124  NaN         NaN      NaN

In [27]:
# 保存するファイルパス
output_file_path = "data/patients_data_new.csv"

# データフレームをCSVとして保存
df.to_csv(output_file_path, index=False)